<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>

<body>
    <div class="container">
        <form action="">
            <label for="">Game Name</label>
            <input type="text">

            <label for="">Devloper</label>
            <select name="" id="">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
            </select>

            <label for="genres">Genres</label>
            <label><input type="checkbox" name="genres" value="Action"> Action</label>
            <label><input type="checkbox" name="genres" value="Adventure"> Adventure</label>
            <label><input type="checkbox" name="genres" value="RPG"> RPG</label>
            <label><input type="checkbox" name="genres" value="Strategy"> Strategy</label>
            <label><input type="checkbox" name="genres" value="Simulation"> Simulation</label>

        </form>
    </div>
</body>

</html>