/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* button {
  border: none;
  background: none;
  cursor: pointer;
} */

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* OWN CSS */

body {
  background-color: rgb(243, 243, 243);
}

.header {
  display: flex;
  justify-content: space-between;

  padding-bottom: 18px;
}

.container {
  max-width: 1200px;
  padding: 40px;
}

.table-header, .data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  border: 1px solid rgb(194, 194, 194);
}

.table-header .col {
  font-weight: 600;
  font-size: 18px;
}